name: index_generator
description: Automatically generate index / barrel / library files with all the export needed for your library.
version: 4.0.1
homepage: https://github.com/BreX900/index_generator
topics:
  - library
  - library-generator
  - code-gen

environment:
  sdk: '>=3.0.0 <4.0.0'

scripts:
  # To generate .g files:
  generate-code:  dart run build_runner watch --delete-conflicting-outputs
  # To activate package local
  activate: dart pub global activate --source=path .
  # To publish a package
  publish: dart pub publish

dependencies:
  console: ^4.1.0
  args: ^2.3.1

  path: ^1.8.1

  yaml: ^3.1.1
  checked_yaml: ^2.0.1
  mek_data_class: ^1.0.1
  json_annotation: ^4.8.0
  glob: ^2.1.0

  dart_style: ^3.0.0
  pub_semver: ^2.0.0

dev_dependencies:
  lints: ^2.0.0

  test: ^1.21.6

  build_runner: ^2.4.14
  mek_data_class_generator: ^2.0.0
  json_serializable: ^6.9.2

executables:
  index_generator:

index_generator:
  exclude:
    - '**.g.dart'
    - '{_,**/_}*.dart'
  indexes:
    - path: lib
      disclaimer: false
      docs: |
        Automatically generate index / barrel / library files
        with all the export needed for your library.
